div.one-third {
	width: 47.5%;
}

div.one-third-second {
	margin: 0;
}

div.one-third-last {
	clear: both;
	float: none;
	width: auto;
	padding: 20px 0 0 0;
}

div.nav ul li {
	width: 25%;
	border-bottom: 1px solid #bababa;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}

@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}

@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}

@media screen and (max-width: 620px) {
	div.nav ul li {
		width: 33%;
	}
}

@media screen and (max-width: 500px) {
	
	div.nav ul li {
		width: 50%;
		font-size: 85%;
	}
	
	div.mobile-collapse {
		width: auto;
		float: none;
		margin-right: 0;
	}
	
	.hide-mobile {
		display: none;
	}
	
	.textoArea{
		position:relative;
		max-width:80%;
	}
}

@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

@media only screen and (max-width: 320px) {
            .background_size {
				width:auto;
				height:100%; 				
				background-image:url(../imagenes/fondo1.png);
            }
        }
		
